---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "responsive",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.shadow-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--background-light);  /* Default to light mode background */
  color: var(--text-light);                   /* Default to light mode text */
}

.shadow-box:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

.profile img {
  width: 220px !important;  /* Force the width for all profile pictures */
  height: auto !important;  /* Maintain aspect ratio */
  display: flex;
  margin: 0 auto;    /* Center the image */
  max-width: none;   /* Disable max-width to ensure fixed width */
}

.profile-name {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  text-align: center;
  margin-bottom: 10px; /* Add margin to create space between the name and the image */
}

.more-info {
  text-align: center; /* Center the links */
  margin-top: 10px;
}
